@use "sass:math";
@import "fibonacci-styles";

$transition-lapse: $fib-8 * 0.01s ease-in-out !default;

button { 
    background: transparent;
    border: none;
    padding: 0px;

    &:hover {
        cursor: pointer;
    }
}

.hideable {
    transition: opacity $transition-lapse;

    &.hidden {
        opacity: 0% !important;
    }
}