@use "sass:math";
@import "fibonacci-styles";

$dock-transition-lapse: $fib-7 * 0.01s ease-in-out !default;
$dock-size: $fib-9 * 1px;
$dock-ident: $fib-4 * 1px;
$dock-tooltip-ident: 3*$dock-ident;

button { 
    background: transparent;
    border: none;
    padding: 0px;

    &:hover {
        cursor: pointer;
    }
}